$white: #FFFFFF;
$blue-gray: #b8cdcd;
$lt-yellow: #f1f6b8;
$lt-green: #bcf9bc;
$lt-red: #ff6161;
$text-red: #ab0e0e;
$text-green: #5f9f53;
$text-black: #2e2e2e;

:root {
    --container-max-w: 90%;
}

@media screen and (min-width: 1024px) {
    :root {
        --container-max-w: 70%;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    width: 100%;
    padding: 30px 0;
    background-image: radial-gradient(circle, #74c5d6, #7ad0cb, #92d9bb, #b5dfab, #dce1a1);
    
    &.full {
        height: 100%;
    }
    
    @media screen and (min-width: 1024px) {
        height: 100%;
    }
}

.quiz {
    &_container {
        display: none;
        max-width: var(--container-max-w);
        margin: 0 auto;
        background-color: $white;
        border-radius: 50px;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);

        &.start-slide,
        &.results-slide  {
            height: 500px;
            flex-direction: column;
            justify-content: center;

            &.show {
                display: flex;
            }
        }
    }

    &_progress {
        border-bottom: 1px solid $blue-gray;
        text-align: center;
        padding: 30px 0 20px;
        font-weight: 300;

        &__bar {
            width: 50%;
            position: relative;
            margin: 10px auto 0;
            height: 10px;
            border-radius: 5px;
            background-color: $blue-gray;

            .line {
                position: absolute;
                left: 0;
                height: 10px;
                border-radius: 5px;
                background-color: $text-green;
            }
        }
    }

    &_inner {
        padding: 20px;
    }

    &_title {
        text-align: center;
        margin-bottom: 20px;
        color: $text-green;
        font-size: 28px;
    }

    &_picture {
        width: max-content;
        margin: 0 auto 20px;

        .cropped {
            display: block;

            &.hide {
                display: none;
            }
        }

        .full {
            display: none;

            &.show {
                display: block;
            }
        }

        &_img {
            content-visibility: auto;
            background-image: radial-gradient(circle, #74c5d6, #7ad0cb, #92d9bb, #b5dfab, #dce1a1);
            max-width: 300px;
            border-radius: 10px;
        }
    }

    &_options {
        display: grid;
        grid-template-columns: 200px;
        grid-gap: 15px;
        width: max-content;
        margin: 0 auto 20px;
    }

    &_option {
        cursor: pointer;
        border: 2px solid $blue-gray;
        padding: 8px 0;
        text-align: center;
        text-transform: capitalize;
        color: $text-black;
        font-size: 21px;
        font-weight: 300;
        border-radius: 8px;

        &:hover {
            background-color: $lt-yellow;
            transition: all .5s ease-out;
        }

        &.green,
        &.red,
        &.disabled {
            pointer-events: none;
        }

        &.green {
            background-color: $lt-green;
            border: 2px solid $text-green;
        }

        &.red {
            background-color: $lt-red;
            border: 2px solid $text-red;
        }

        &.disabled {
            opacity: .5;
        }
    }

    &_next {
        display: none;
        margin: 0 auto;
        font-size: 26px;
        padding: 8px 30px;
        border-radius: 25px;
        background-image: linear-gradient(to right bottom, #74c5d6, #7ad0cb, #92d9bb, #b5dfab, #dce1a1);
        color: white;
        letter-spacing: .5px;
        font-weight: 300;
        border: none;
        cursor: pointer;

        &.again {
            display: block;
        }
    }

    &_facts {
        display: none;
        font-weight: 100;
        border-top: 1px solid #b8cdcd;
        padding: 20px;

        &__text {
            text-align: center;
        }
    }

    &_results {
        text-align: center;
        font-size: 22px;
        padding-bottom: 8px;

        &:first-of-type {
            padding-top: 30px;
        }

        &:last-of-type {
            padding-bottom: 50px;
        }
    }
}

.show {
    display: block;
}

@media screen and (min-width: 768px) {
    .wrapper {
        padding: 100px 0;
    }

    .quiz {
        &_inner {
            padding: 20px 40px 30px;
        }

        &_title {
            font-size: 36px;
        }

        &_options {
            grid-template-columns: 250px 250px;
        }

        &_picture_img {
            max-width: 400px;            
        }

        &_facts {
            padding: 20px 40px 30px;
        }
    }
}